
.navbar-nav .nav-item .nav-link{

  
   
    display: flex;
    vertical-align: middle;
  
}



.font-mont a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nav-item a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.btn-primary{
    background-color: rgb(30,38,109);
}


.back{
    padding: 5% 0 5% 0;
    background: rgba(128, 128, 128, 0.122);
}

.content{
    font-family: 'Montserrat', sans-serif;
    padding: 6px;
    background: rgb(215,215,215);
    font-weight: 800;
background: linear-gradient(90deg, rgba(215,215,215,1) 0%, rgba(217,217,217,0.7234244039412641) 0%, rgba(217,217,217,0) 35%);
}

.content-2{
    
   
  
    margin-top: 1%;
        font-size: 40px;
        color: #000000;
        font-weight:600 ;
}

.content-3{
    font-family: 'Montserrat', sans-serif;
    margin-top: 1%;
        color: #000000;
        font-weight: 800;
}

.content-4{
    font-family: 'Montserrat', sans-serif;
    margin-top: 1%;
    font-weight: 800;   
   
}



@media (max-width:426px) {

    .content-2{
     
  
         
        font-size: 28px;
  
    }
  
  
}

.big_text{
    
    font-weight: bold;
    font-size: 30px;
    text-align: center;

}

.text_normal{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}


.chart_text{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.chart_text_normal{
    font-size: 16px;
  
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.link-ssd a{

        text-decoration: none;
        color: #000000;
}

.btn-color{
    background-color: rgb(35,210,210);
    border-color:rgb(35,210,210) ;
}


.back-2{
    padding: 5% 0 5% 0;
    background: rgba(128, 128, 128, 0.068);

}

.data{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #607d9c;
    letter-spacing: 1px;
    line-height: 1.3;
 

}

.custom{

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 3px;


}

.just_text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #a1a1a1;
}