

.navbar-nav .nav-item .nav-link {

    color: #333347;
  
    display: flex;
    vertical-align: middle;
}

.btn-primary{
    background-color: rgb(30,38,109);
}


.back{
    height: 70vh;
    background: rgba(128, 128, 128, 0.122);
}

.content{
    margin: 10% 10% 0 0;
    width: 25%;
    padding: 6px;
    background: rgb(144,144,144);
    background: linear-gradient(90deg, rgba(144,144,144,0.30885857761073177) 0%, rgba(230,220,220,0.07916670086003152) 77%);
}

.content-2{
  
    margin-top: 1%;
        font-size: 40px;
        color: #333347;
        font-weight: bold;
}

.content-3{

    margin-top: 1%;
        color: #333347;
}

.content-4{
   
    margin-top: 1%;
   
}



@media (max-width:426px) {

    .back{
        height: 40vh;
        background: rgba(128, 128, 128, 0.122);
    }
  
}

@media (max-height:413px) {

    .back{
        height: 90vh;
        background: rgba(128, 128, 128, 0.122);
    }
  
}




@media (max-width:426px) {

    .content{
     
        width: 100%;
        padding: 6px;
        background: rgb(144,144,144);
        background: linear-gradient(90deg, rgba(144,144,144,0.30885857761073177) 0%, rgba(230,220,220,0.07916670086003152) 77%);
    }
  
  
}



@media (max-width:426px) {

    .content-2{
     
  
          margin-top: 1%;
        font-size: 28px;
        color: #333347;
        font-weight: bold;
    }
  
  
}



